@import '../../Styles/variables.scss';

.card {
  // max-width: 400px;
  .cardBtn {
    padding: 20px 15px;
    background-color: $newTan10;
    height: 430px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    font-family: $bodyFont;
    color: $darkGreen;
    .cardContainer {
      height: 100%;
      .imgContainer {
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          max-width: 100%;
          height: 244px;
          width: auto;
        }
      }
      .textContainer {
        padding: 5px 0;
        .cardTitleContainer {
          display: grid;
          grid-template-columns: 1fr 25px;
          font-size: 20px;
          color: $orange;
          h3 {
            padding-bottom: 5px;
            color: $darkGreen;
          }
        }
      }
    }
  }
}
