@import './Styles/variables.scss';
* {
  margin: 0;
  padding: 0;
  // box-sizing: content-box;
}

body {
  background-color: $backgroundColor;
  font-family: $bodyFont;
  color: $darkGreen;
  // -webkit-text-fill-color: $darkGreen !important;
  // -webkit-opacity: 1;

  h1 {
    font-size: $h1Mobile;
  }
  h2 {
    font-size: $h2Mobile;
    font-weight: 700;
  }
  h3 {
    font-size: $h3Mobile;
    font-weight: 700;
  }
  p {
    font-size: $pMobile;
  }
}
