@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

// Colors
$backgroundColor: #faf9f6;
$cardBackgroundColor: #ece3da;
$orange: #c0521f;
$newTan: #e8ba99;
$darkGreen: #373b08;
$lightGreen: #677100;

// Fonts
$titleFont: 'Great Vibes', cursive;
$bodyFont: 'Nunito', sans-serif;
