@import '../../Styles/variables.scss';

.header {
  background-color: $newTan;
  width: 100%;
  height: $headerMobileHeight;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .headerContainer {
    padding: $paddingSmall;
    display: flex;
    width: 100%;

    justify-content: space-between;
    .logoContainer {
      display: flex;
      align-items: flex-end;
      gap: 5px;
      a {
        .logo {
          width: 50px;
          height: auto;
          opacity: 1;
        }
      }
      h1 {
        font-size: $h1Mobile;
        font-family: $titleFont;
      }
    }
    nav {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      .btnsContainer {
        display: flex;
        gap: 5px;
        button {
          width: auto;
          background-color: transparent;
          padding: 0;
          margin: 0;
          font-size: 22px;
          color: $darkGreen;
        }
      }
    }
  }
}
