@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

// Colors
$backgroundColor: #faf9f6;
$cardBackgroundColor: #ece3da;
$orange: #c0521f;
$newTan: #e8ba99;
// $newTan30: rgba(232, 186, 153, 0.3);
$newTan30: #e8ba994d;
$newTan20: rgba(232, 186, 153, 0.2);
$darkGreen: #373b08;
$lightGreen: #677100;

// Fonts
$titleFont: 'Great Vibes', cursive;
$bodyFont: 'Nunito', sans-serif;

// Font Sizes
$h1Mobile: 28px;
$h2Mobile: 24px;
$h3Mobile: 20px;
$pMobile: 14px;

// Layout measures
$headerMobileHeight: 65px;
$paddingSmall: 0 35px;

// Mixins
@mixin mediumBreakpoint {
  @media (min-width: 768px) {
  }
  @content;
}

@mixin largeBreakpoint {
  @media (min-width: 992px) {
  }
  @content;
}
