@import '../../Styles/variables.scss';

.frame {
  border: solid 3px $newTan;
  border-radius: 5px;
  width: auto;
  height: auto;
  box-shadow: 3px 3px 2px $shadowColor;
  &.darkFrame {
    border: solid 3px $orange;
  }
  &.hoverableFrame {
    &:hover {
      border: solid 3px $orange;
    }
  }
}
